.botones{
    height: 2em;
}

.tabla{
    height: 300px;
}

.tamañoLetra{
    font-size: 3em;
}

.color-amarillo{
    background-color:rgb(52, 43, 145);
}

.sombra{
    -webkit-box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.39);
    -moz-box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.39);
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.39); 
}

.sombra2{
    -webkit-box-shadow: 3px 3px 10px 10px rgba(0,0,0,0.39);
    -moz-box-shadow: 3px 3px 10px 10px rgba(0,0,0,0.39);
    box-shadow: 3px 3px 10px 10px rgba(0,0,0,0.39); 
}
.bg-calculadora{
    background-color: #DCD9D4;
     background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
     background-blend-mode: soft-light,screen;
}

.borde{
    border: 2px solid black;
}